.app{
  text-align: center;

}
h1{
  margin: 40px 0px;
  font-size: 45px;
  font-weight: 700;

}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  height: 30px;
  background-color: lightblue;
  margin: 10px 0px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checked{
  background-color: black;
  color: white;
}

.box{
  width: 200px;
  height: 250px;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.actions{
  display: flex;
  flex-direction: column;
}

button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
}

@media screen and (min-width:0px) and (max-width:480px){
  .container{
    padding: 10px;
  }
}
@media screen and (min-width:480px) and (max-width:768px) {
  .container {
    padding: 10px;
  }
}